
body {
	background-color: #555;
	color: #333;
}

#content {
	background-color: white;
}

#display-jobs {
	margin-left: auto;
	margin-right: auto;
}
#display-jobs td {
	font-size: 200%;
	padding: 5px;
}
#display-jobs .active {
	color: green;
}
#display-jobs .inactive {
	color: red;
}

.dataTable tbody td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
}

.detailView {
	white-space: pre;
}
.detailView dd {
	margin-left: 100px;
	white-space: pre;
}
